    header {
        text-align: center;
        padding: 20px;
        background-color: rgba(0, 255, 255, 0.1);
        box-shadow: 0 0 20px $primary-color;
    }

    header h1 {
        font-size: 2.5rem;
        color: $primary-color;
        text-shadow: 0 0 10px $primary-color;
    }

    .nav {
        display: flex;
        justify-content: center;
        gap: 15px;
        flex-wrap: wrap;
        flex-direction: row; // por defecto desktop
        transition: all 0.3s ease-in-out;
    }

    .nav a {
        color: white;
        text-decoration: none;
        border: 1px solid $primary-color;
        padding: 10px 15px;
        border-radius: 8px;
        transition: all 0.3s ease;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .nav a:hover {
        background-color: $primary-color;
        color: $text-color-dark;
        box-shadow: 0 0 10px $primary-color;
    }

    nav a {
        transition: all 0.3s ease-in-out;
    }

    nav a:hover {
        transform: scale(1.1);
        box-shadow: 0 0 15px $primary-color;
        color: $primary-color;
    }

    .logo {
        animation: glow 2s infinite alternate;
    }

    @keyframes glow {
        0% {
        text-shadow: 0 0 5px $primary-color, 0 0 10px $primary-color;
    }
    100% {
        text-shadow: 0 0 20px $primary-color, 0 0 30px $primary-color;
    }
}