* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }


    body {
        font-family: 'Orbitron', sans-serif;
        line-height: 1.5;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    ul,
    ol {
        list-style: none;
    }


    a {
        text-decoration: none;
        color: inherit;
    }


    img {
        display: block;
        max-width: 100%;
        height: auto;
    }


    button,
    input,
    textarea,
    select {
        font: inherit;
        border: none;
        outline: none;
        background: none;
    }